@model course1.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post Detail</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.postAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postBody)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.postId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
